.questionContainer{
    display: flex;
    flex-direction: column;
}

.questionPotentialAnswersUL{
    list-style-type: none
}

.questionAnswerLI{
    padding: 3px 0 3px 0
}

.questionAnswerLI span:hover, .gameOverReset span:hover {
    border: 1px solid greenyellow;
    color: white;
    cursor: pointer;
}

.questionScore{
    position:absolute;
    bottom:5%;
    left:5%;
}
.questionHighScore{
    position:absolute;
    top:5%;
    left:5%;
}

.wrong span{
    background-color: red;
    color: white;
    cursor: pointer;
}

.wrong span:hover{
    border: 1px solid red !important;
}

.correct span{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.correct span:hover{
    border: 1px solid greenyellow !important;
    color: black;
}